.mobile-nav {
    align-items: center;
    background: #fff;
    display: flex;
    height: 60px;
    inset: 0 0 auto 0;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    z-index: 100;
}

.mobile-logo {
    color: #333;
    font-family: Cambria;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.hamburger-icon {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 18px;
    justify-content: space-between;
    width: 24px;
    z-index: 102;
}

.hamburger-icon span {
    background: #333;
    border-radius: 10px;
    height: 2px;
    transition: .3s;
    width: 24px;
}

/* Drop Down */
.mobile-menu {
    align-items: center;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 180px;
    padding: 20px;
    position: absolute;
    right: 20px;
    top: 65px;
    transform: scaleY(0);
    transform-origin: top right;
    transition: transform .2s ease-in-out;
    z-index: 101;
}

.mobile-menu.open {
    transform: scaleY(1);
}

.mobile-menu a {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0;
    text-decoration: none;
}

.mobile-logo:hover,
.mobile-menu a:hover {
    color: #c800ff;
    filter: brightness(.98);
    transform: translateY(-2px);
    transition: all .2s ease;
}